.about-main{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2.5em;
    gap: 2em;
    padding-top: 124px;
}   
.about-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.about-desc{
    font-weight: 400;
    align-self: flex-start;
    max-width: 717px;
    z-index: 3;
    color: var(--text);
    line-height: 1.5em;
    letter-spacing: 0.01em;
    font-size: 1.25em;
}
.about-desc-title{
    font-size: 1.5em;
    font-weight: 600;
}
@media screen and (max-width: 525px) {
    .about-desc{
        text-align: left;
        font-size: 1.25em;
    }
    .about-main{
        padding-top: 0;
    }
}
@media screen and (max-width: 425px) {
    .about-desc{
        font-size: 1.15em;
    }
}
@media screen and (max-width: 385px) {
    .about-desc{
        padding-top: 2em;
    }
}
@media screen and (min-width: 600px) {
    .about-desc{
        font-size: 1.45em;
    }
}
@media screen and (min-width: 800px) {
    .about-desc{
        font-size: 1.55em;
    }
}
@media screen and (min-width: 1000px) {
    .about-desc{
        font-size: 1.65em;
    }
}
@media screen and (min-width: 1200px) {
    .about-desc{
        font-size: 1.75em;
    }
}