@import url('./color.css');

/*---------Global------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{scroll-behavior: smooth;}

::-webkit-scrollbar{width: 11px;}  

::-webkit-scrollbar-track{background: var(--scrollbar); }  

::-webkit-scrollbar-thumb{
  border-radius: 11px;
  background: var(--text);
  border: 3px solid var(--scrollbar);
}
h1,h2,h3,h4,p,a,li{
  font-family: 'Roboto', sans-serif;
}
h1{
    color: var(--text-alt);
    padding: 2.5rem;
}
h3{
    color: var(--text-ter);
    text-align: justify;
}
section{
    background-color: var(--primary);
}
button{
    cursor: pointer;
}

/*-----------Header--------------*/
.nav{
  width: 100%;
  position: absolute;
  padding: 1.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
.logo{
  display: inline-block;
  font-family: 'Dancing Script', cursive;
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--text-alt);
}
.logo:nth-of-type(1)::first-letter{
  color: var(--secondary); 
  font-weight: bold;
}
.switch-page{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--text-alt);
}
.switch-page:hover, .switch-page:focus{
  transition: 100ms linear;
  color: var(--secondary);
}

/*------------Main-------------*/
main{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
main img{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.summary{
  width: 90%;
  max-width: 950px;
  height: 24rem;
  padding: 1.5rem 0;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 2;
}

/* graphics */
.graphic{
  height: 100vh;
}

/*------------Footer------------*/
footer{
  height: 100vh;
  background-color: var(--footer);
  display: grid;
}
.mail{
  width: 100%;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0;
}    
.mail a{
  position: absolute;
  font-family: 'Dancing Script', cursive;
  font-size: 2.75em;
  text-decoration: none;
  color: var(--text-alt);
  z-index: 2;
  text-align: center;
  transition: 100ms linear;
}
.mail a:hover,.mail a:focus{
  transform: scale(1.1);
  transition: 100ms linear;
}
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact{
  width: 100%;
  list-style-type: none;
  padding: 1em;
  display: grid;
  justify-content: center;
  align-items: end;
  grid-template-columns: repeat(3,auto);
}
.license{
  align-self: end;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em 0;
  border-top: 2px solid var(--license-border);
}
.license p{
  font-size: 8px;
  color: var(--text-alt);
}
.license a{
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-alt);
  margin-left: 0.5em;
}
.license img{
  height: 12px;
  margin-left: 0.5em;
  vertical-align: text-bottom;
}
.contact a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fab{
  width: 2em;
  height: 2em;
  text-decoration: none;
  display: inline-block;
  background: rgba(0,0,0,0);
  color: var(--text-alt);
  transition: 50ms linear;
  font-size: 1.8em;
}
.hover-circle:hover{
  background: linear-gradient(180deg, transparent 0%, transparent 75%, var(--scrollbar) 100%, var(--scrollbar) 100%);
  background-size: 400% 400%;
  animation: hovereffect 300ms linear forwards;
  -webkit-animation: hovereffect 300ms linear forwards;
}
@keyframes hovereffect{
  0% {
  background-position: 0% 50%;
}
100% {
  background-position: 50% 100%;
}
}
.fab:hover{
  transition: 50ms linear;
  color: var(--secondary);
}

/*----------Responsive-------------*/
@media screen and (min-width:600px) {
  .logo{
    font-size: 2.3rem;
  }
  .switch-page{
      font-size: 2rem;
  }
  h1{
    font-size: 32px;
  }
  .summary span:hover{
    color: var(--secondary);
    text-shadow: 1px 1px 5px var(--secondary), -1px -1px 5px var(--secondary);
    transition: 100ms ease;
  }
  .summary span:active{
      pointer-events: none;
  }
  .mail a{
      font-size: 3.25em;
  }
  .contact{
      padding: 1em;
  }
  .license{
      padding: 1.25em 0;
  }
  .license p{
      font-size: 10px;
  }
  .license img{
      height: 14px;
  }
}
@media screen and (min-width:700px) {
  h1{
      font-size: 34px;
  }
}
@media screen and (min-width:800px) {
  h1{
      font-size: 38px;
  }
}
@media screen and (min-width:900px) {
  h1{
      font-size: 40px;
  }
}
@media screen and (min-width:1000px) {
  h1{
    font-size: 42px;
  }
  .mail{
      margin: 2em 0;
  }
  .mail a{
      font-size: 3.75em;
  }
  .contact{
      padding: 1.5em;
      gap: 1.25em;
  }
  .license{
      padding: 1.5em 0;
  }
  .license p{
      font-size: 12px;
  }
  .license img{
      height: 16px;
  }
  .fab{
      font-size: 2.25em;
  }
}
@media screen and (min-width:1200px) {
  h1{
      font-size: 45px;
  }
}