:root{
    --primary: #09002B;
    --secondary: #d90079;
    --footer: #05001E;
    --text: #f1f1f1;
    --text-alt: #FFFAFF;
    --text-ter: #9e969e;
    --scrollbar:  #312C3E;
    --codeblock: #5D71C7;
    --license-border: #241F31;
    --black: rgb(10, 10, 10);
}