@import url('./color.css');
.work{
    height: 100%;
    position: relative;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.sec-one-title{
    text-align: center;
    color: var(--text-alt);
    letter-spacing: 0.05rem;
    margin-top: 1em;
}
.sec-one-title:nth-of-type(1)::first-letter{color: var(--secondary);}
.slide{
    padding: 0.75rem 0 2.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.swiper-container{
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.swiper-slide, .swiper-slide img{
    width: 80%;
    height: 300px;
    border-radius: 3px;
    cursor: pointer;
    background: var(--project);
}
.swiper-slide img{
    transition: 200ms linear;
}
.swiper-slide-active img{
    transform: scale(1.2);
    transition: 400ms ease-in-out;
}
.overlay-container{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    transition: 0.2s linear;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .overlay-container{
        background: transparent;
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
}
.visible{
    visibility: visible;
    opacity: 100;
    transition: 0.2s linear;
}
.overly-wrapper{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}
.overlay{
    position: relative;
    width: 75vw;
    min-width: 178px;
    max-width: 676px;
    height: 77.5vh;
    max-height: 494px;
    background: var(--text-alt);
    border-radius: 3px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 30px 3px var(--footer);
    overflow: hidden;
}

.ovrly-cls-asst{
    width: fit-content;
    height: 100%;
    flex-grow: 1;
}
.ovrly-cls-asst2{
    width: 100%;
    height: auto;
    flex-grow: 1;
}
.close-overlay{
    position: absolute;
    top: 28px;
    right: 31px;
    font-size: 1.5em;
    border: none;
    outline: none;
    background: none;
    color: var(--footer);
    z-index: 2;
}
.overlay-body{
    width: 100%;
    height: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.app-img-container{
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.app-image{
    width: auto !important;
    height: 200px !important;
    border: 3px solid var(--black) !important;
    z-index: 2;
}
.dot {
    background-color: var(--text-ter) !important;
}
.control-arrow{
    background: transparent !important;
}
.control-prev.control-arrow::before{
    border-right: 8px solid var(--text-ter) !important;
}
.control-next.control-arrow::before{
    border-left: 8px solid var(--text-ter) !important;
}
.app-name{
    grid-area: x;
    width: 100%;
    display: flex;
    align-items: center;
}
.app-name p{
    margin: 0 0 0.25em 0;
    font-size: 2em;
    font-weight: 600;
}
.app-summary{
    grid-area: a;
    padding: 1em;
    margin-bottom: 1em;
    background: rgba(0,0,0,0.1);
}
.btn-container{
    position: relative;
    grid-area: e;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.btn-container button{
    height: 100%;
    border: none;
    background: none;   
}
.code-btn{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2em;
    color: var(--black);
}
.app-btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 2em;
}
#overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.carousel-root{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.carousel, .slider-wrapper{
    height: 100%;
    align-items: center;
    display: flex;
}
@media screen and (max-width:880px) {
    .app-details{
        width: 55%;
    }
    .app-name p{
        font-size: 1.9em;
    }
}
@media screen and (max-width:755px) {
    .overlay{
        height: 80vh;
    }
    .app-details{
        width: 52%;
    }
    .app-name p{
        font-size: 1.7em;
    }
}
@media screen and (max-width:685px) {
    .app-name p{
        font-size: 1.5em;
    }
    .app-summary{
        font-size: 0.85em;
    }
}
@media screen and (max-width:650px) {
    .app-summary{
        font-size: 0.70em;
    }
    .app-image{
        height: 180px !important;
    }
}
@media screen and (max-width:550px) {
   .app-name p{
       font-size: 1.3em;
    }
    .close-overlay{
        font-size: 1.35em;
    }
    .btn-container button{
        font-size: 1.5em;
    }
}
@media screen and (max-width:530px) {
    .swiper-container{
        transform-style: unset;
        transform: unset;
    }
    .overlay{
        max-height: unset;
        width: 80vw;
        height: 70vh;
    }
    .close-overlay{
        top: 6px;
        right: 10px;
    }
    .app-details{
        bottom: 0;
        width: 100%;
        height: 50%;
        top: unset;
        box-shadow: 0 5px 20px 1px var(--text-ter);
    }
    .overlay-body{
        justify-content: center;
    }
    .app-img-container{
        position: absolute;
        top: unset;
        justify-content: center;
    }
    .app-image{
        z-index: unset;
        height: 80%;
    }
    .app-name{
        margin-bottom: 1em;
    }
    .app-summary{
        font-size: 0.8em;
    }
    .btn-container{
        margin: 1em 0;
    }
}
@media screen and (max-width:390px) {
    .app-image{
        height: 70%;
    }
    .app-summary{
        font-size: 0.75em;
    }
    .app-name{
        font-size: 0.9em;
    }
}
@media screen and (max-width:345px) {
    .app-name{
        font-size: 0.7em;
    }
    .app-summary{
        font-size: 0.5em;
    }
}
@media screen and (min-width: 425px) {
    .swiper-slide, .swiper-slide img{
        width: 70%;
    }
}
@media screen and (min-width: 530px) {
    .work{
        justify-content: space-between;
    }
    .swiper-container{
        display: grid;
        place-items: center;
        margin: 2.5em 0;
        grid-gap: 3em;
        grid-template-columns: repeat(2,1fr); 
        padding: 0 2.5em;
    }
    .swiper-slide{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .swiper-slide img{
        width: auto;
        height: 80%;
    }
    .swiper-slide:hover{
        box-shadow: 0 0 20px 5px var(--secondary);
        outline: 1px solid var(--secondary);
      } 
}
@media screen and (min-width:600px) {
    .sec-one-title{
        font-size: 2em;
    }
}
@media screen and (min-width:800px) {
    .sec-one-title{
        font-size: 2.25em;
    }
    .swiper-container{
        grid-template-columns: repeat(3,1fr); 
    }
}
@media screen and (min-width:1000px) {
    .sec-one-title{
      font-size: 2.5em;
    }
}
@media screen and (min-width:1200px) {
    .sec-one-title{
        font-size: 2.75em;
    }
}
@media screen and (min-width:1350px) {
    .swiper-container{
        height: 70vh;
    }
    .swiper-slide{
        height: 80%;
    }
}
@media screen and (min-width:1600px) {
    .swiper-container{
        height: 70vh;
    }
    .swiper-slide{
        height: 90%;
    }
}
@media screen and (max-height: 620px) {
    
}